<style type="text/css">

path.arc {
  fill: #fff;
}

.node {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  fill: #2C2B1A;
  fill-opacity: 0.6;
}

.node:hover {
  font-size: 20px;
  fill: #2C2B1A;
  fill-opacity: 1;
}

.link {
  fill: none;
  stroke-opacity: .6;
  stroke-width: 1.5;
}

.link.source, .link.target {
  stroke-opacity: 0.6;
}

.node.target {
  stroke: #2C2B1A !important;
  fill-opacity: 1;
  font-size: 16px;
  stroke-width: 0.5px;
}

.link.source {
  stroke: #FE4509;
}

.node.source {
  stroke: #2C2B1A;
  font-size: 16px;
  fill-opacity: 1;
}

.link.target {
  stroke: #FE4509;
}

.tooltip:hover:after {
  content: attr(title);
  display: block;
  position: absolute; top: 10px; left: 0;
}

.selected {
  stroke: black;
  stroke-width: 0.5px;
  stroke-opacity: 0.7;
}

.selected text{
  font-size: 14px!important;
}
a:hover{
  text-decoration:none;
}

.link.active {
  stroke-width: 2;
  stroke-opacity: 1;
}
</style>
<script src="/static/topology-graph.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    new ResourceTopologyGraph("{% url 'horizon:delivery:resource_topology:topology_data' domain %}", "#resource-topology-chart").init();
    //new ResourceTopologyGraph("/static/dashboard/js/new-structure-sample.js", "#resource-topology-chart").init();
    $(document).on("click", "g.node a", function(ev) {
        var chart_node = $(this).find('text').html();
        $.get("{% url 'horizon:delivery:resource_topology:topology_data' domain %}/" + chart_node, function(res) {
            if(res && res.result === 'ok'){
              $('#resource-topology-detail').html(res.html);
            }else{
              console.log("Cannot print pillar data server returns invalid response");
            }
        });
    });
});
</script>

