<style type="text/css">

path.arc {
/*   cursor: move; */
  fill: #fff;
}

.node {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  fill: #2C2B1A;
  fill-opacity: 0.6;
}

.node:hover {
  font-size: 20px;
  fill: #2C2B1A;
  fill-opacity: 1;
}

.link {

  fill: none;
  stroke-opacity: .3;
  stroke-width:1.5;
}

.link.source, .link.target {
  stroke-opacity: 0.6;
}

.node.target {
  /*stroke: #2C2B1A !important;*/
  fill-opacity: 1;
  font-size: 16px;
}

.link.source {
  stroke: #FE4509;
}

.node.source {
  /*stroke: #2C2B1A;*/
  font-size: 16px;
  fill-opacity: 1;
}

.link.target {
  //stroke: #FE4509;
}

.source, .target, .selected {
  stroke-width: 1.5px;
  stroke-opacity: 1.0;
}

.tooltip:hover:after {
  content: attr(title);
  display: block;
  position: absolute; top: 10px; left: 0;
}

.selected {
  /*stroke: #2C2B1A;*/
}

.link.active {
  stroke: red;
  stroke-width: 2px;
  stroke-opacity: 1;
}
</style>

<script type="text/javascript">
$(document).ready(function() {
    new ResourceTopologyGraph("{% url 'horizon:delivery:resource_topology:topology_data' domain %}", "#resource-topology-chart").init();
    $(document).on("click", "g.node a", function(ev) {
        var chart_node = $(this).find('text').html();
        $.get("{% url 'horizon:delivery:resource_topology:topology_data' domain %}/" + chart_node, function(pillar) {
            $('#resource-topology-detail').html(pillar);
        });
    });
});
</script>

