{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Resource Topology" %} - {{ domain }}{% endblock %}

{% block main %}
<div class="col-sm-8">
  <h3>{% trans "Topology chart" %}</h3>
  <div id="resource-topology-chart"></div>
</div>
<div class="col-sm-4">
  <h3>{% trans "Resource Detail" %}</h3>
  <div id="resource-topology-detail"></div>
</div>
{#<script src="/static/dashboard/js/graph.js"></script>#}
{% include 'delivery/resource_topology/_topology_chart.html' %}

{% endblock %}

