{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/basestyle.css' %}" /> -->

  <!-- mobile view -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  <!-- CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/devops_portal.css' %}" rel="stylesheet">

    <!-- javascript basic -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>

   function calcHeight()
   {
    //find the height of the internal page
    var the_height=
    document.getElementById('the_iframe').contentWindow.
    document.body.scrollHeight;

    //change the height of the iframe
    document.getElementById('the_iframe').height=
    the_height;
   }


</script>
    <title>{% block title %}{% endblock %}</title>
</head> 
<body>
  <div class="container-fluid" style="padding:0;">
    <div class="col-xs-2 col">
      <h2 class="text-center">DevOps Portal</h2>
      <div class="list-group">
        <a href="{% url 'overview' %}" class="list-group-item {% if request.path == '/' %}active{% endif %}">
          Overview
        </a>
        <a href="{% url 'jenkins' %}" class="list-group-item {% if 'jenkins' in request.path %}active{% endif %}">
          Jenkins
        </a>
        <a href="{% url 'gerrit' %}" class="list-group-item {% if 'gerrit' in request.path %}active{% endif %}">
          Gerrit
        </a>
        <a href="{% url 'maas' %}" class="list-group-item {% if 'maas' in request.path %}active{% endif %}">
          MAAS
        </a>
        <a href="{% url 'artifactory' %}" class="list-group-item {% if 'artifactory' in request.path %}active{% endif %}">
          Artifactory
        </a>
        <a href="{% url 'salt' %}" class="list-group-item {% if 'salt' in request.path %}active{% endif %}">
          SaltStack
        </a>
      </div>
      <ul>
      <li>
        <a href="{% url 'doc' %}" class=" {% if 'doc' in request.path %}active{% endif %}">
          Documentation
        </a>
      </li>
      <li>
        <a href="{% url 'userguides' %}" class=" {% if 'doc' in request.path %}active{% endif %}">
          User Guides
        </a>
      </li>
      </ul>
    </div>
    <div class="col-xs-10 col">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>

</html>