{% extends 'devops_portal/base.html' %}
{% block title %}System Overview{% endblock %}
{% block page_title %}System Overview{% endblock %}
{% block content %}
<h3>Services</h3>
  <table class="table table-hover">
    <tbody>
      <tr>
        <th width="33%">Jenkins</th>
        <td width="33%">...</td>
        <td width="33%"><a href="{% url 'devops:jenkins' %}" class="btn btn-default">Detail</a></td>
      </tr>
      <tr>
        <th width="33%">Gerrit</th>
        <td width="33%">...</td>
        <td width="33%"><a href="{% url 'devops:gerrit' %}" class="btn btn-default">Detail</a></td>
      </tr>
      <tr>
        <th width="33%">Artifactory</th>
        <td width="33%">...</td>
        <td width="33%"><a href="{% url 'devops:artifactory' %}" class="btn btn-default">Detail</a></td>
      </tr>
    </tbody>
  </table>
{% endblock %}