
{% load i18n %}
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div id="header">
      {% block header %}
      <h1>{% if ticket.type == 'problem' %}{% trans "Ticket" %}{% else %}{% trans "Work Order" %}{% endif %} {{ ticket.title }}</h1>
      {% endblock %}
    </div>
    <hr>
    <div id="main">
      {% block main %}{% endblock %}
    </div>
    <hr>
    <div id="footer">
      {% block footer %}
      {% trans "See" %} <a href="{{ helpdesk_url }}/helpdesk/{% if ticket.type == 'problem' %}ticket{% else %}work_orders{% endif %}/{{ ticket.id }}/detail">{{ ticket }}</a>
      {% endblock %}
    </div>
  </body>
</html>
