{% load i18n %}

<style>
#wf_cookiecutter {
  width: 100%;
}
#wf_cookiecutter .modal-dialog {
  width: 100%;
}
#wf_cookiecutter .modal-dialog .modal-content {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.nav-pills.wizard-tabs > li {
  width: 25%;
  position: relative;
  overflow: visible;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}

.nav-pills.wizard-tabs > li + li {
  margin-left: 0;
}

.nav-pills.wizard-tabs > li:first-child {
  border-left: 0;
}

.nav-pills.wizard-tabs > li:first-child a {
  border-radius: 5px 0 0 5px;
}

.nav-pills.wizard-tabs > li:last-child {
  border-right: 0;
}

.nav-pills.wizard-tabs > li:last-child a {
  border-radius: 0 5px 5px 0;
}

.nav-pills.wizard-tabs > li a {
  border-radius: 0;
  background-color: #eee;
}

.nav-pills.wizard-tabs > li:not(:last-child) a:after {
  position: absolute;
  content: "";
  top: 0px;
  right: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #eee;
  z-index: 150;
}

.nav-pills.wizard-tabs > li:not(:first-child) a:before {
  position: absolute;
  content: "";
  top: 0px;
  left: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: #eee #eee #eee transparent;
  z-index: 150;
}

.nav-pills.wizard-tabs > li:hover:not(:last-child) a:after {
  border-color: transparent transparent transparent #aaa;
}

.nav-pills.wizard-tabs > li:hover:not(:first-child) a:before {
  border-color: #aaa #aaa #aaa transparent;
}

.nav-pills.wizard-tabs > li:hover a {
  background-color: #aaa;
  color: #fff;
}

.nav-pills.wizard-tabs > li.active:not(:last-child) a:after {
  border-color: transparent transparent transparent #305F90;
}

.nav-pills.wizard-tabs > li.active:not(:first-child) a:before {
  border-color: #305F90 #305F90 #305F90 transparent;
}

.nav-pills.wizard-tabs > li.active a {
  background-color: #305F90;
}
</style>

{% with workflow.get_entry_point as entry_point %}

<div class="workflow {{ layout|join:' ' }}{% if workflow.async_wizard %} async-wizard{% endif %}" id="wf_cookiecutter" data-backdrop="{{ modal_backdrop }}">
  <form {{ workflow.attr_string|safe }} action="{{ workflow.get_absolute_url }}" {% if add_to_field %}data-add-to-field="{{ add_to_field }}"{% endif %} method="POST"{% if workflow.multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
    {% if REDIRECT_URL %}<input type="hidden" name="{{ workflow.redirect_param_name }}" value="{{ REDIRECT_URL }}"/>{% endif %}
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
        {% block modal-body %}
        <ul class="nav nav-pills selenium-nav-region{% if workflow.async_wizard %} wizard-tabs{% endif %}" role="tablist">
            {% for step in workflow.steps %}
            <li class="{% if entry_point == step.slug %}active{% endif %}{% if step.has_errors %} error{% endif %}{% if step.has_required_fields %} required{% endif %}">
              <a href="#{{ step.get_id }}" data-toggle="tab" data-target="#{{ step.get_id }}">
                {{ step }}
                {% if step.has_required_fields %}{% include "horizon/common/_form_field_required.html" %}{% endif %}
              </a>
            </li>
            {% endfor %}
          </ul>
          <div class="tab-content">
            {% for step in workflow.steps %}
              <fieldset id="{{ step.get_id }}" class="js-tab-pane{% if entry_point == step.slug %} active{% endif %}">
                {{ step.render }}
              </fieldset>
              {% if not forloop.last %}
                <noscript><hr /></noscript>
              {% endif %}
            {% endfor %}
          </div>
        {% endblock %}
        </div>
        <div class="modal-footer">
        {% block modal-footer %}
          {% if workflow.async_wizard %}
          <div class="row">
            <div class="col-sm-6 back">
              <button type="button" class="btn btn-default button-previous">&laquo; {% trans "Back" %}</button>
            </div>
            <div class="col-sm-6 next">
              <button type="button" class="btn btn-primary button-next">{% trans "Next" %} &raquo;</button>
              <button type="submit" class="btn btn-primary button-final">{{ workflow.finalize_button_name }}</button>
            </div>
          </div>
          {% else %}
            {% if modal %}<a class="btn btn-default cancel">{% trans "Cancel" %}</a>{% endif %}
            <input class="btn btn-primary" type="submit" value="{{ workflow.finalize_button_name }}" />
          {% endif %}
        {% endblock %}
        </div>
      </div>
    </div>
  </form>
</div>

{% endwith %}

{% block modal-js %}
  {% if workflow.async_wizard %}
    {% include "integration/cookiecutter/workflow/_init_wizard.html" %}
  {% endif %}
{% endblock %}

