{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}select_template{% endblock %}
{% block form_action %}{% url 'horizon:integration:modeldesigner:create' %}{% endblock %}

{% block modal-header %}{% trans "Create" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Create" %}" />
  <a data-modal="dismiss" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
