{% extends 'devops_portal/base.html' %}
{% block title %}System Overview{% endblock %}
{% block page_title %}System Overview{% endblock %}
{% block content %}
<h3>Available Services</h3>
<div class="tbl">
  <table class="table table-hover">
    <tbody>
      <tr>
        <th width="33%"><h4>Jenkins</h4></th>
        <td width="33%">...</td>
        <td width="33%"><a href="{% url 'jenkins' %}" class="btn btn-default">Service Detail</a></td>
      </tr>
      <tr>
        <th width="33%"><h4>Gerrit</h4></th>
        <td width="33%">...</td>
        <td width="33%"><a href="{% url 'gerrit' %}" class="btn btn-default">Service Detail</a></td>
      </tr>
      <tr>
        <th width="33%"><h4>Artifactory</h4></th>
        <td width="33%">...</td>
        <td width="33%"><a href="{% url 'artifactory' %}" class="btn btn-default">Service Detail</a></td>
      </tr>
      <tr>
        <th width="33%"><h4>MAAS</h4></th>
        <td width="33%">...</td>
        <td width="33%"><a href="{% url 'maas' %}" class="btn btn-default">Service Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}