{% extends "helpdesk/emails/base.html" %}

{% load i18n %}

{% block header %}
<h1>{% if ticket.type == 'problem' %}{% trans "Ticket" %}{% else %}{% trans "Work Order" %}{% endif %} {{ ticket.title }} {% trans "was created by" %} {{ ticket.author }} for {{ ticket.organisation.name }}</h1>
{% endblock %}
{% block main %}

<p>{{ ticket.description|safe }}</p>

{% if ticket.bussiness_crit %}
<b>{% trans "It's bussiness critical !!" %}</b>
{% endif %}

<br>
{% trans "Organisation:" %} {{ ticket.organisation.name }}
{% if ticket.severity %} {% trans "Organisation has" %} {{ ticket.severity }} {% trans "business severity" %}.{% endif %}

{% endblock %}
